/* Change the background of the entire visible page */
body {
    background-color: #f0f0f0; /* light blue */
}


p {
    color: red;
    font-size: 16px;
    font-family: 'Arial',
h1 {
    text-align: center;
    border: 2px solid orange
    padding: 10px






